@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
   
    .navbar__link{
        color:#61CE70;;
        transition: 0msall 0.4s;
    }
    .navbar__link::after{
        position: absolute;
        content:"";
        background-color:#61CE70;;
        height: 3px;
        width: 100%;
        bottom: -5px;
        left: 0;
        scale: 0;
        transform-origin: left;
        transition: all 0.4s;
    }
    .navbar__link:hover::after{
        scale: 1;
    }
    
}
